<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, id: 'task_title' %>
  </div>
  <div class="field">
    <%= f.check_box :private, id: 'task_private' %>
    <%= label(:task, :private, id: 'Game_Image') do %>
      <%= image_tag("game.webp", alt: "Private") %>
    <% end %>
  </div>

  <div class="actions" id="form-actions">
    <%= f.submit 'Save', id: 'my-submit-button' %>
  </div>
  <%= button_tag 'Cancel', type: 'button', id: 'cancel-button', class: 'cancel-task-link' %>

<% end %>
