<!DOCTYPE html>
<html>
<head>
  <title>GameBoy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <!-- Removed duplicate stylesheet_link_tag -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <%= javascript_importmap_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>